version: "3.8"

services:
  postgres:
    image: postgres:15
    container_name: event_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: eventdb
    ports:
      - "5432:5432"
